@import "./utils/variables-colors";
@import "./utils/maps";
@import "./utils/mixins";

@import "./layouts/layouts";

@import "./pages/index";
@import "./pages/note_enchantee";
@import "./pages/chic_a_la_francaise";
@import "./pages/delice_papille";
@import "./pages/palette_du_gout";

@import "./base/policies";
@import "./base/body";
@import "./base/animations";

@import "./components/block"







    






