body {
    h1 {
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }
    main {
        margin-bottom: 80px;
        & > h2 {
            text-align: center;
            font-family: Helvetica;
            text-shadow: 2px 2px 15px rgb(247,247,247);
            margin-bottom: 12px;
        }
    }
    footer:not(.menu-prev__footer) {
        position: fixed;
        width: 100%;
        font-size: 1.5em;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        z-index: 100;
        a {
            padding: 10px;
            &:hover {
                font-weight: bold;
                animation: wiggle-effect 0.5s infinite;
            }
        } 
    }
}


body>header, footer:not(.menu-prev__footer) {
    background-color: $background-color;
}

h1, footer:not(.menu-prev__footer) a {
    color: $text-color;
}