@mixin index-responsive() {
    $values-resp: $lg-index-resp, $md-index-resp, $xs-index-resp;
    $nbTypeResp: 0;
    @each $name, $value in $breakpoints {
        $nbTypeResp: $nbTypeResp+1;
        @media screen and (min-width: nth($value,1)) and (max-width: nth($value,2)) {
            $nbItemMap: 1;
            @each $name, $value in nth($values-resp,$nbTypeResp) {
                @if($value!=0 and $nbItemMap<=3) {
                    #{$name}: $value;
                }
                $nbItemMap: $nbItemMap+1;
            }
            ul { 
                $nbItemMap: 1;
                @each $name, $value in nth($values-resp,$nbTypeResp) {
                    @if($value!="unset" and $nbItemMap>3) {
                        #{$name}: $value;
                    }
                    $nbItemMap: $nbItemMap+1;
                }
            }
        } 
    }  
}
@mixin typography($police:'arial', $color:null, $weight:null, $size: 2em) {
    $attr: "font-family", "color", "font-weight", "font-size";
    $val: $police, $color, $weight, $size;
    @for $i from 1 through 4 {
        @if($val!=null) {
            #{nth($attr,$i)}: nth($val,$i); 
        }
    }
}