/*--------------------------------header, footer and "prochainement" section-----------------------------------------------------------------------------------------------*/
$background-color: rgb(78,156,135);
$text-color: rgb(253,203,70);
/*-------------------------------Menu background---------------------------------------------------------------------------------------------------------------------------*/
$background-menu1-color: rgb(252,223,219);
$background-menu2-color: rgb(255, 245, 254);
$background-menu3-color: rgb(237, 239, 239);
$background-menu4-color: rgb(253, 255, 253);
