
$background-color: rgb(78,156,135);
$text-color: rgb(253,203,70);

$menu-shadow: rgb(234,234,234);
$text-colors-menu1: rgb(60,18,24);
$text-colors-menu2: rgb(227,138,18) rgb(143,90,255) rgb(199,116,18);
$text-colors-menu3: rgb(0,35,219) rgb(26,145,251)  rgb(8,135,251);
$text-colors-menu4: rgb(62,146,58) rgb(190,255,127) rgb(114,191,86);

$background-menu1-color: rgb(252,223,219);
$text-menu1-color:  rgb(61,19,25);

$background-menu2-color: rgb(255, 245, 254);
$text-menu2-color-parts: rgb(198,116,18)  rgb(165,103,153) rgb(110,76,204); 
$title-menu2-degrColors: rgb(217,131,48), rgb(143,90,255);

$background-menu3-color: rgb(237, 239, 239);
$text-menu3-color: black;
$line-menu3-color-parts: rgb(2, 40, 221)  rgb(6, 112, 243) rgb(34, 157, 249); 
$title-menu3-degrColors: rgb(2,41,221),rgb(78,169,251);

$background-menu4-color: rgb(253, 255, 253);
$text-menu4-color: black;
$line-menu4-color:rgb(219,253,188); 
$title-menu4-degrColors: rgb(62,146,58),rgb(190,255,127);








