@font-face {
    font-family: 'Segoe Print Bold';
    src: url('../fonts/segoeprb.ttf');
}
@font-face {
    font-family: 'Dear Joe 6';
    src: url('../fonts/dearJoe6.ttf');
}
@font-face {
    font-family: 'menu2';
    src: url('../fonts/menu2.ttf');
}
@font-face {
    font-family: 'CandidaStdBold';
    src: url('../fonts/CandidatStdBold.ttf');
}
@font-face {
    font-family: 'DancingScript-Regular';
    src: url('../fonts/DancingScript-Regular.ttf');
}
@font-face {
    font-family: 'segoeprint';
    src: url('../fonts/segoeprint.ttf');
}
@font-face {
    font-family: 'BreeshLight';
    src: url('../fonts/BreeshLight.ttf');
}
@font-face {
    font-family: 'baldo';
    src: url('../fonts/baldo.otf');
}
@font-face {
    font-family: 'DecaSerif';
    src: url('../fonts/DecaSerif.otf');
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaStdBold.ttf');
}