<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>ohmyfood - Les restaurants</title>
        <meta charset="utf-8"/>
        <link href="../css/styles.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jonathan LAUBRON" />
        <meta name="copyright" content="ohmyfood" />
        <meta name="description" content="Ohmyfood! est une entreprise de réservation de restaurants et de composition de menus
        en ligne. Notre concept permet aux utilisateurs de réduire leur temps d’attente dans les
        restaurants car leur menu est préparé à l’avance. Plus de perte de temps à consulter la
        carte !" />
    </head>
    <body>
        <header>
            <h1>ohmyfood</h1>
        </header>
        <main>
            <section class="menu">
                <a href="la_note_enchantee.html" class="menu__item">
                    <ul>
                        <li><img src="../img/menu1/note.png" alt="logo-m1"/></li>
                        <li><h2>La note enchantée</h2></li>
                        <li>MENU</li>
                    </ul>
                </a>
                <a href="le_chic_a_la_francaise.html" class="menu__item">
                    <ul>
                        <li><h2>Le chic à la française</h2></li>
                        <li>Menu</li>
                    </ul>
                </a>
                <a href="le_delice_des_papilles.html" class="menu__item">
                    <ul>
                        <li><h2>Le délice des papilles</h2></li>
                        <li>Menu</li>
                    </ul>
                </a>
                <a href="la_palette_du_gout.html" class="menu__item">
                    <ul>
                        <li><h2>La palette du goût</h2></li>
                        <li>Menu</li>
                    </ul>
                </a>
            </section>
            <section class="next">
                <div class="next__btn">
                    <h2>Prochainement</h2>
                    <div class="next__btn--animPoint">
                        <i class="fas fa-circle"></i>
                        <i class="fas fa-circle"></i>
                        <i class="fas fa-circle"></i>
                    </div>
                </div>
            </section >
        </main>
        <footer>
            <a href="legals_mentions.html">Mentions légales</a>
            <a href="mailto:jlaubron.formation@gmail.com"> Contactez-nous</a>
        </footer>            
    </body>
</html>