<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>ohmyfood</title>
        <meta charset="utf-8"/>
        <link href="../css/styles.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <h1>ohmyfood</h1>
        </header>
        <main>
            <section class="section__menu">
                <section>                   
                    <ul>
                        <li><i class="fas fa-music"></i></li>
                        <li>La note enchantée</li>
                        <li>Menu</li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Le chic à la française</li>
                        <li>Menu</li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Le délice des papilles</li>
                        <li>Menu</li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>La palette du goût</li>
                        <li>Menu</li>
                    </ul>
                </section>
            </section>
            <div>
                <p>Prochainement</p>
            </div>
        </main>
        <footer>
            <span>Mentions légales</span>
            <span>Contactez-nous</span>
        </footer>         
    </body>
</html>