<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>ohmyfood</title>
        <meta charset="utf-8"/>
        <link href="../css/styles.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <h1>ohmyfood</h1>
        </header>
        <main>
            <section class="menu">
                <a href="la_note_enchantee.html">
                    <div>
                        <ul>
                            <li><i class="fas fa-music"></i></li>
                            <li><h2>La note enchantée</h2></li>
                            <li>MENU</li>
                        </ul>
                    </div>
                </a>
                <a href="le_chic_a_la_francaise.html">
                    <ul>
                        <li><h2>Le chic à la française</h2></li>
                        <li>Menu</li>
                    </ul>
                </a>
                <a href="le_delice_des_papilles.html">
                    <ul>
                        <li><h2>Le délice des papilles</h2></li>
                        <li>Menu</li>
                    </ul>
                </a>
                <a href="la_palette_du_gout.html">
                    <ul>
                        <li><h2>La palette du goût</h2></li>
                        <li>Menu</li>
                    </ul>
                </a>
            </section>
            <section class="next">
                <button class="next__btn">
                    <h2>Prochainement</h2>
                    <div class="next__btn--animPoint">
                        <i class="fas fa-circle"></i>
                        <i class="fas fa-circle"></i>
                        <i class="fas fa-circle"></i>
                    </div>
                </button>
            </section >
        </main>
        <footer>
            <a href="legals_mentions.html">Mentions légales</a>
            <a href="mailto:jlaubron.formation@gmail.com"> Contactez-nous</a>
        </footer>            
    </body>
</html>