<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>ohmyfood - La note enchantée</title>
        <meta charset="utf-8"/>
        <link href="../css/styles.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jonathan LAUBRON" />
        <meta name="copyright" content="ohmyfood" />
        <meta name="description" content="Ohmyfood vous propose 'La note enchantée', le menu de l'un des plus grands restaurants parisiens new-yorkais. 
        Si vous n'avez plus envie d'attendre au restaurant alors Ohmyfood est fait pour vous !" />
    </head>
    <body>
        <header>
            <h1><a href="../index.html">ohmyfood</a></h1>
        </header>
        <main>
            <h2>La note enchantée</h2>
            <article class="menu-prev menu-prev--menu1">
                <header class="menu-prev__header--m1" >
                    <img src="../img/menu1/note.png" alt="logo-m1"/>
                    <h2>La note enchantée</h2>
                </header>
                <section>
                    <div class="menu-prev__head-section menu-prev__head-section--m1">
                        <img src="../img/menu1/left-line.png" alt="left line"/>
                        <div>
                            <h3>Prélude</h3>
                            <div class="menu-prev__head-section--a1"></div>
                        </div>
                        <img src="../img/menu1/right-line.png" alt="right line"/>
                    </div>
                    <table class="menu-prev__content menu-prev__content--m1">
                        <tr>
                            <td>Ravioles de foie gras accompagnés de leur crème à la truffe</td>
                            <td>98€</td>
                        </tr>
                        <tr>
                            <td>Caviar osciètre sur blini à la farine de blé noir</td>
                            <td>115€</td>
                        </tr>
                        <tr>
                            <td>Homard et espuma de potiron mariné aux zests d'orange</td>
                            <td>89€</td>
                        </tr>
                        <tr>
                            <td>Foie gras de canard cuit entier, confiture de figue et pain toasté</td>
                            <td>105€</td>
                        </tr>
                    </table>
                </section>
                <section>
                    <div class="menu-prev__head-section menu-prev__head-section--m1">
                        <img src="../img/menu1/left-line.png" alt="left line"/>
                        <div>
                            <h3>Point d'orgue</h3>
                            <div class="menu-prev__head-section--a1"></div>
                        </div>
                        <img src="../img/menu1/right-line.png" alt="right line"/>
                    </div>
                    <table class="menu-prev__content menu-prev__content--m1">
                        <tr>
                            <td>Noix de coquilles Saint-Jacques sur lit de purée de céleri-rave</td>
                            <td>102€</td>
                        </tr>
                        <tr>
                            <td>Langoustine poêlée, purée de patate douce</td>
                            <td>205€</td>
                        </tr>
                        <tr>
                            <td>Mijoté de queue de boeuf et riz sauvage aux zests de citron</td>
                            <td>169€</td>
                        </tr>
                    </table>
                </section>
                <section>
                    <div class="menu-prev__head-section menu-prev__head-section--m1">
                        <img src="../img/menu1/left-line.png" alt="left line"/>
                        <div>
                            <h3>Mouvement final</h3>
                            <div class="menu-prev__head-section--a1"></div>
                        </div>
                        <img src="../img/menu1/right-line.png" alt="right line"/>
                    </div>
                    <table class="menu-prev__content menu-prev__content--m1">
                        <tr><td>Macaron noisette et chocolat, glace au caramel brun et sel de Guérande</td></tr>
                        <tr><td>Baba au rhum revisité avec son coulis de citron</td></tr>
                        <tr><td>Tarte au citron meringuée destructurée</td></tr>
                    </table>
                </section>
                <footer class="menu-prev__footer">
                    <img src="../img/menu1/note.png" alt="logo-m1"/>
                    <p>La note enchantée</p>
                </footer>
            </article>
        </main>
        <footer>
            <a href="legals_mentions.html">Mentions légales</a>
            <a href="mailto:jlaubron.formation@gmail.com"> Contactez-nous</a>
        </footer>            
    </body>
</html>