<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>ohmyfood</title>
        <meta charset="utf-8"/>
        <link href="../css/styles.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jonathan LAUBRON" />
        <meta name="copyright" content="ohmyfood" />
        <meta name="description" content="Ohmyfood vous propose 'La palette du goût', le menu de l'un des plus grands restaurants parisiens new-yorkais. 
        Si vous n'avez plus envie d'attendre au restaurant alors Ohmyfood est fait pour vous !" />
    </head>
    <body>
        <header>
            <h1><a href="index.html">ohmyfood</a></h1>
        </header>
        <main>
            <h2>La palette du goût</h2>
            <article  class="menu-prev menu-prev--menu4">
                <header class="menu-prev__header--m4" >
                    <h2>La palette du goût</h2>
                </header>
                <section>
                    <div class="menu-prev__head-section menu-prev__head-section--m4">
                        <img src="../img/menu4/left-line.png" alt="left line"/>
                        <div>
                            <h3>Esquisse</h3>
                            <div class="menu-prev__head-section--a4"></div>
                        </div>
                        <img src="../img/menu4/right-line.png" alt="right line"/>
                    </div>
                    <table class="menu-prev__content menu-prev__content--m4">
                        <tr>
                            <td>Fricassée d'escargot au piment d'espelette</td>
                            <td>60€</td>
                        </tr>
                        <tr>
                            <td>Oeuf au plat assaisonné à la truffe sur lit de caviar</td>
                            <td>55€</td>
                        </tr>
                        <tr>
                            <td>Foie gras de canard mi-cuit et ses copeaux de truffe noire</td>
                            <td>65€</td>
                        </tr>
                    </table>
                </section>
                <section>
                    <div class="menu-prev__head-section menu-prev__head-section--m4">
                        <img src="../img/menu4/left-line.png" alt="left line"/>
                        <div>
                            <h3>Oeuvre de maître</h3>
                            <div class="menu-prev__head-section--a4"></div>
                        </div>
                        <img src="../img/menu4/right-line.png" alt="right line"/>
                    </div>
                    <table class="menu-prev__content menu-prev__content--m4">
                        <tr>
                            <td>Filet de boeuf aux herbes accompagné de sa ribambelle de légumes</td>
                            <td>70€</td>
                        </tr>
                        <tr>
                            <td>Parmentier de queue de boeuf à la truffe noire sur sa purée de panais</td>
                            <td>85€</td>
                        </tr>
                        <tr>
                            <td>Filet de turbotaux agrumes</td>
                            <td>125€</td>
                        </tr>
                    </table>
                </section>
                <section>
                    <div class="menu-prev__head-section menu-prev__head-section--m4">
                        <img src="../img/menu4/left-line.png" alt="left line"/>
                        <div>
                            <h3>Au sommet de l'art</h3>
                            <div class="menu-prev__head-section--a4"></div>
                        </div>
                        <img src="../img/menu4/right-line.png" alt="right line"/>
                    </div>
                    <table class="menu-prev__content menu-prev__content--m4">
                        <tr>
                            <td>Paris-Brest revisité</td>
                            <td>55€</td>
                        </tr>
                        <tr>
                            <td>Macaron au chocolat d'exception et glace à la vanille de Madagascar</td>
                            <td>65€</td>
                        </tr>
                        <tr>
                            <td>Mousse au chocolat au piment d'espelette et à la truffe noire</td>
                            <td>60€</td>
                        </tr>
                    </table>  
                </section>
            </article>
        </main>
        <footer>
            <a href="legals_mentions.html">Mentions légales</a>
            <a href="mailto:jlaubron.formation@gmail.com"> Contactez-nous</a>
        </footer>             
    </body>
</html>