<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>ohmyfood</title>
        <meta charset="utf-8"/>
        <link href="../css/styles.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/tdbs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jonathan LAUBRON" />
        <meta name="copyright" content="ohmyfood" />
        <meta name="description" content="Ohmyfood vous propose 'Le chic à la française', le menu de l'un des plus grands restaurants parisiens new-yorkais. 
        Si vous n'avez plus envie d'attendre au restaurant alors Ohmyfood est fait pour vous !" />
    </head>
    <body>
        <header>
            <h1><a href="../index.html">ohmyfood</a></h1>
        </header>
        <main>
            <h2>Le chic à la française</h2>
            <article class="menu-prev menu-prev--menu2">
                <header class="menu-prev__header--m2">
                    <h2>Le chic à la française</h2>
                </header>
                <section>
                    <div class="menu-prev__head-section menu-prev__head-section--m2">
                        <img src="../img/menu2/left-line1.png" alt="left line"/>
                        <div>
                            <h3>Pour se mettre en appétit</h3>
                            <div class="menu-prev__head-section--a2"></div>
                        </div>
                        <img src="../img/menu2/right-line1.png" alt="right line"/>
                    </div>
                    <table class="menu-prev__content menu-prev__content--m2">
                        <tr>
                            <td>Tartare de potrpe acidtré aux zests d'orange</td>
                            <td>79€</td>
                        </tr>
                        <tr>
                            <td>Velouté de légumes d'antan</td>
                            <td>57€</td>
                        </tr>
                        <tr>
                            <td>Soupe à l'ogion revisitée</td>
                            <td>57€</td>
                        </tr>
                    </table>   
                </section>
                <section>
                    <div class="menu-prev__head-section menu-prev__head-section--m2">
                        <img src="../img/menu2/left-line2.png" alt="left line"/>
                        <div>
                            <h3>Plaisir des papilles</h3>
                            <div class="menu-prev__head-section--a2"></div>
                        </div>
                        <img src="../img/menu2/right-line2.png" alt="right line"/>
                    </div>
                    <table class="menu-prev__content menu-prev__content--m2">
                        <tr>
                            <td>Coquilles Saint-Jacques accompagnées d'une purée de panais</td>
                            <td>95€</td>
                        </tr>
                        <tr>
                            <td>Magret de canard et parmentier de pommes de terres</td>
                            <td>88€</td>
                        </tr>
                        <tr>
                            <td>Pigeonneau d'Ille et Vilaine sur son tdt de gnocchis aux légumes</td>
                            <td>175€</td>
                        </tr>
                    </table>   
                </section>
                <section>
                    <div class="menu-prev__head-section menu-prev__head-section--m2">
                        <img src="../img/menu2/left-line5.png" alt="left line"/>
                        <div>
                            <h3>Gourmandises sucrées</h3>
                            <div class="menu-prev__head-section--a2"></div>
                        </div>
                        <img src="../img/menu2/right-line6.png" alt="right line"/>
                    </div>
                    <table class="menu-prev__content menu-prev__content--m2">
                        <tr><td>Pétales de violettes glacés et purée de noisettes</td></tr>
                        <tr><td>Fondant au chocolat revisité</td></tr>
                        <tr><td>Millefeuille croustillant</td></tr> 
                    </table>
                </section>
            </article>
        </main>
        <footer>
            <a href="legals_mentions.html">Mentions légales</a>
            <a href="mailto:jlaubron.formation@gmail.com"> Contactez-nous</a>
        </footer>         
    </body>
</html>