<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>ohmyfood</title>
        <meta charset="utf-8"/>
        <link href="../css/styles.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <h1>ohmyfood</h1>
        </header>
        <main class=menu-display>
            <header>
                <h2>Le délice des papilles</h2>
            </header>
            <section>
                <h3>Pour bien commencer</h3>
                <div class="bien_commencer">
                    <ul>
                        <li>Tartare de thon assaisoné au yuzu</li>
                        <li>Bouchée de homard croustillant et sa farandole de petits légumes</li>
                        <li>Velouté de cèpes aux truffes</li>
                    </ul>
                    <ul>
                        <li>55€</li>
                        <li>89€</li>
                        <li>56€</li>
                    </ul>
                </div>
            </section>
            <section>
                <h3>Pour bien continuer</h3>
                <div class="bien_continuer">
                    <ul>
                        <li>Poulet rôti aux herbes de provence et sa crème de truffe</li>
                        <li>Langouste rôtie et ses légumes de saison</li>
                        <li>Côte de boeuf angus et sa purée de panais</li>
                    </ul>
                    <ul>
                        <li>110€</li>
                        <li>225€</li>
                        <li>115€</li>
                    </ul>
                </div>
            </section>
            <section>
                <h3>Pour bien terminer</h3>
                <div class="bien_terminer">
                    <ul>
                        <li>Farandole de desserts du chef</li>
                        <li>Crème brulée revisitée</li>
                        <li>Tiramisu à la noisette</li>
                    </ul>
                    <ul>
                        <li>55€</li>
                        <li>60€</li>
                        <li>55€</li>
                    </ul>
                </div>
            </section>
        </main>
        <footer>
            <span>Mentions légales</span>
            <span>Contactez-nous</span>
        </footer>         
    </body>
</html>