<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>ohmyfood</title>
        <meta charset="utf-8"/>
        <link href="../css/styles.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <h1><a href="index.html">ohmyfood</a></h1>
        </header>
        <main>
            <h2>Le délice des papilles</h2>
            <article class="menu-prev menu-prev--menu3">
                <header class="menu-prev__header--m3">
                    <h2>Le délice des papilles</h2>
                </header>
                <section>
                    <div class="menu-prev__head-section menu-prev__head-section--m3">
                        <img src="../img/menu3/left-line1.png" />
                        <div>
                            <h3>Pour bien commencer</h3>
                            <div class="menu-prev__head-section--a3"></div>
                        </div> 
                        <img src="../img/menu3/right-line1.png" />
                    </div>
                    <table class="menu-prev__content menu-prev__content--m3">
                        <tr>
                            <td>Tartare de thon assaisoné au yuzu</td>
                            <td>55€</td>
                        </tr>
                        <tr>
                            <td>Bouchée de homard croustillant et sa farandole de petits légumes</td>
                            <td>89€</td>
                        </tr>
                        <tr>
                            <td>Velouté de cèpes aux truffes</td>
                            <td>56€</td>
                        </tr>
                    </table>
                </section>
            <section>
                <div class="menu-prev__head-section menu-prev__head-section--m3">
                    <img src="../img/menu3/left-line2.png" />
                    <h3>Pour bien continuer</h3>
                    <img src="../img/menu3/right-line2.png" />
                </div>
                <table class="menu-prev__content menu-prev__content--m3">
                    <tr>
                        <td>Poulet rôti aux herbes de provence et sa crème de truffe</td>
                        <td>110€</td>
                    </tr>
                    <tr>
                        <td>Langouste rôtie et ses légumes de saison</td>
                        <td>225€</td>
                    </tr>
                    <tr>
                        <td>Côte de boeuf angus et sa purée de panais</td>
                        <td>115€</td>
                    </tr>
                </table>
            </section>
            <section>
                <div class="menu-prev__head-section menu-prev__head-section--m3">
                    <img src="../img/menu3/left-line3.png" />
                    <h3>Pour bien terminer</h3>
                    <img src="../img/menu3/right-line3.png" />
                </div>
                <table class="menu-prev__content menu-prev__content--m3">
                    <tr>
                        <td>Farandole de desserts du chef</td>
                        <td>55€</td>
                    </tr>
                    <tr>
                        <td>Crème brulée revisitée</td>
                        <td>60€</td>
                    </tr>
                    <tr>
                        <td>Tiramisu à la noisette</td>
                        <td>55€</td>
                    </tr>
                </table>
            </section>
        </main>
        <footer>
            <a href="legals_mentions.html">Mentions légales</a>
            <a href="mailto:jlaubron.formation@gmail.com"> Contactez-nous</a>
        </footer>             
    </body>
</html>