<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>ohmyfood - Mentions légales</title>
        <meta charset="utf-8"/>
        <link href="../css/styles.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <h1><a href="../index.html">ohmyfood</a></h1>
        </header>
        <main class="mentions">
            <h2>Mentions légales</h2>
            <a href="../index.html">Retour</a>
        </main>
        <footer>
            <a href="legals_mentions.html">Mentions légales</a>
            <a href="mailto:jlaubron.formation@gmail.com"> Contactez-nous</a>
        </footer>           
    </body>
</html>