.menu-prev {
    &--menu2 {
        background-color: $background-menu2-color;
        padding: 8vh 1vw;
        section {
            margin-bottom: 50px;
            font-family: DecaSerif;
            font-size: 0.9em;
            &:nth-of-type(1) {
                color: rgb(198,116,18); 
                h3:hover + div {
                    background: rgb(198,116,18);    
                }
            }
            &:nth-of-type(2) {
                color: rgb(165,103,153); 
                h3:hover + div {
                    background:rgb(165,103,153); 
                }
            }
            &:nth-of-type(3) {
                color: rgb(110,76,204); 
                h3:hover + div {
                    background:rgb(110,76,204); 
                }
                td {
                    text-align: left;
                }
            }
        }
    }
    &__header--m2 {
        h2 {
            background: -webkit-linear-gradient(300deg, rgb(217,131,48),rgb(143,90,255));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'menu2';
            margin-bottom: 8vh;   
        }
    }
    &__head-section {
        &--m2 {
            margin-bottom: 15px;
            img {
                width: 30%;
                height: 12px;
                position: relative;
                top: 6px;
                @media screen and (max-width: 500px) {
                    top: 15px;
                }
            }                
        }
        &--a2 {
            transform: scale(0.2,0.5);
            height: 3px;
        }
    }
    &__content--m2 { 
        width: 81%;
        @media screen and (max-width: 500px) {
            width: 95%;
        }
        margin: auto;
        tr {
            margin-top: 15px;
            td {
                padding: 6px 0; 
                &:nth-child(2) {
                    font-size: 1.08em;
                }
            }
        }
    }
}
