.menu-prev {
    &--menu2 {
        background-color: $background-menu2-color;
        padding: 8vh 1vw;
        section {
            margin-bottom: 50px;
            @include typography('DecaSerif',null,null,0.9em);
            &:nth-of-type(1) {
                @include typography(null,nth($text-menu2-color-parts,1),null,null);
                h3:hover + div {
                    background: nth($text-menu2-color-parts,1);   
                }
            }
            &:nth-of-type(2) {
                @include typography(null,nth($text-menu2-color-parts,2),null,null);
                h3:hover + div {
                    background: nth($text-menu2-color-parts,2);
                }
            }
            &:nth-of-type(3) {
                @include typography(null,nth($text-menu2-color-parts,3),null,null);
                h3:hover + div {
                    background: nth($text-menu2-color-parts,3);
                }
                td {
                    text-align: left;
                }
            }
        }
    }
    &__header--m2 {
        h2 {
            background: -webkit-linear-gradient(300deg, $title-menu2-degrColors);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'menu2';
            margin-bottom: 8vh;   
        }
    }
    &__head-section {
        &--m2 {
            margin-bottom: 15px;
            img {
                width: 30%;
                height: 12px;
                position: relative;
                top: 6px;
                @media screen and (max-width: 500px) {
                    top: 15px;
                }
            }                
        }
        &--a2 {
            transform: scale(0.2,0.5);
            height: 3px;
        }
    }
    &__content--m2 { 
        width: 81%;
        @media screen and (max-width: 500px) {
            width: 95%;
        }
        margin: auto;
        tr {
            margin-top: 15px;
            td {
                padding: 6px 0; 
                &:nth-child(2) {
                    font-size: 1.08em;
                }
            }
        }
    }
}
