.menu-prev {
    &--menu3 {
        background-color: $background-menu3-color;
        padding: 4vh 2vw 15vh 2vw;
        section {
            margin-bottom: 20px;
            @include typography('segoeprint',$text-menu3-color,null,0.76em);
            &:nth-of-type(1) {
                h3:hover + div {
                    background: nth($line-menu3-color-parts,1);    
                }
            }
            &:nth-of-type(2) {
                h3:hover + div {
                    background:nth($line-menu3-color-parts,2); 
                }
            }
            &:nth-of-type(3) {
                h3:hover + div {
                    background:nth($line-menu3-color-parts,3); 
                }
            }
            h3 {
                font-weight: normal;
            }
        }
    }
    &__header--m3 {
        h2 {
            background: -webkit-linear-gradient(300deg, $title-menu3-degrColors);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'DancingScript-Regular';
            margin-bottom: 8vh;
            font-size: 3.5em;
            @media screen and (max-width: 500px) {
                font-size: 2.5em;
            }
        }
    }
    &__head-section {
        &--m3 {
            margin-bottom: 12px;
            img {
                width: 33%;
                height: 12px;
                position: relative;
                top: 7px;
                @media screen and (max-width: 500px) {
                    top: 15px;
                }
            }
        }
        &--a3 {
            transform: scale(0,0.5);
            height: 4px;
        }
    }
    &__content--m3 { 
        width: 82%;
        margin: auto;
        @media screen and (max-width: 500px) {
            width: 95%;
        }
        tr {
            td {
                padding: 6px 0;
                &:nth-child(even) {
                    font-size: 1.2em;
                    & li:nth-child(2) {
                        padding: 2px 0;
                    }
                }
            }
        }
    }
}
