.menu {
    padding: 30px;
    &__item {
        position: relative;
        z-index: 1;
        box-shadow: 1px 1px 15px $menu-shadow;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            list-style-type: none;
            padding-left: 0; 
            li {
                transition: transform 0.6s cubic-bezier(.86,-0.83,.07,1.99);
            }     
        }
        &:hover {
            ul>li {
                transform: scale(1.1,1.6);
            }
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            background-color: rgba(255, 255, 255, 0.685);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            transition: opacity 0.5s cubic-bezier(1,.05,.36,1);
        }
        &:nth-child(1) {
            background:$background-menu1-color;
            li {
                color: $text-menu1-color;
                &:nth-child(2) {
                    font-family: 'Dear Joe 6';
                }
                &:nth-child(3) {
                    font-family: 'Segoe Print Bold';
                    Font-size: 2em;
                }
            }
            i {
                font-size: 3em;
                background: -webkit-linear-gradient(left, rgb(245,95,98),rgb(246,145,106));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }            
        &:nth-child(2) {
            background-color: $background-menu2-color;
            li {
                &:nth-child(1) {
                    background: -webkit-linear-gradient(300deg, nth($text-colors-menu2,1),nth($text-colors-menu2,2));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: 'menu2';
                    font-size: 0.8em;
                }
                &:nth-child(2) {
                    font-family: 'CandidaStdBold';
                    Font-size: 2em;
                    color: nth($text-colors-menu2,3);
                    font-weight: bolder;
                }
            }
        }
        &:nth-child(3) {
            background-color: $background-menu3-color;
            li {
                &:nth-child(1) {
                    background: -webkit-linear-gradient(300deg, nth($text-colors-menu3,1),nth($text-colors-menu3,2));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: 'DancingScript-Regular';
                    font-weight: lighter;
                }
                &:nth-child(2) {
                    font-family: 'segoeprint';
                    Font-size: 2em;
                    color: nth($text-colors-menu3,3);
                    font-weight: bold;
                }
            }
        }
        &:nth-child(4) {
            background-color: rgb(253, 255, 253);
            li {
                &:nth-child(1) {
                    background: -webkit-linear-gradient(left, nth($text-colors-menu4,1),nth($text-colors-menu4,2));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: 'BreeshLight';
                }
                &:nth-child(2) {
                    font-family: 'segoeprint';
                    Font-size: 2em;
                    color: nth($text-colors-menu4,3);
                    font-weight: lighter;
                }
            }
        }
    }
}

@media screen and (min-width: 1420px)
{   
    .menu {
        display: flex;
        justify-content: space-around;
        &__item {
            width: 23%;
            ul {
                height: 70vh;
                min-height: 300px;
                font-size: 1.3vw;
            }
        }
    }
}
@media screen and (min-width: 1024px) and (max-width: 1419px) {
    .menu {
        display: grid;
        grid-template-columns: 38% 38%;
        grid-column-gap: 3vw;
        grid-row-gap: 3vh;
        justify-content: center;
        &__item {
            ul {
                height: 70vh;
                font-size: 2vw;
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 1023px) 
{
    .menu {
        display: grid;
        grid-template-columns: 45vw 45vw;
        grid-column-gap: 3vw;
        grid-row-gap: 3vh;
        justify-content: center;
        &__item {
            ul {
                height: 50vh;
                font-size: 3vw;
                min-height: 400px;
            }
        }
    }
}

@media screen and (max-width: 599px) 
{
    .menu {
        display: grid;
        grid-template-columns: 80vw;
        grid-row-gap: 8vw;
        justify-content: center;
        &__item {
            ul {
                height: 60vh;
                font-size: 5vw;
            }
        }
    }
}

.next {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    &__btn {
        display: flex;
        align-items: baseline;
        background-color: $background-color;
        color: $text-color;
        border-radius: 10px;
        padding: 0 30px;
        h2 {
           
            font-size: 1.3em;
            color: $text-color;
        }
        &--animPoint {
            font-size: 0.3em;
            i {
                margin-left: 3px;
                &:nth-child(1) {
                    animation: animation-point 0.6s 0s infinite cubic-bezier(0.55, 0.055, 0.675, 0.19);
                }
                &:nth-child(2) {
                    animation: animation-point 0.6s 150ms infinite cubic-bezier(0.55, 0.055, 0.675, 0.19);
                }
                &:nth-child(3) {
                    animation: animation-point 0.6s 0s infinite cubic-bezier(0.55, 0.055, 0.675, 0.19);
                }
                
            }
        }
    }
}



