.menu {
    padding: 30px;
    a {
        ul {
            box-shadow: 1px 1px 30px rgb(234,234,234);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            list-style-type: none;
            padding-inline-start: 0; 
        }
        &:nth-child(1) ul {
            background:rgb(252,223,219);
            li {
                color: rgb(61,19,25);
                &:nth-child(2) {
                    font-family: 'Dear Joe 6';
                }
                &:nth-child(3) {
                    font-family: 'Segoe Print Bold';
                    Font-size: 2em;
                }
            }
            i {
                font-size: 3em;
                background: -webkit-linear-gradient(left, rgb(245,95,98),rgb(246,145,106));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }            
        &:nth-child(2) ul {
            background-color: rgb(255, 245, 254);
            li {
                &:nth-child(1) {
                    background: -webkit-linear-gradient(300deg, rgb(217,131,48),rgb(143,90,255));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: 'menu2';
                    font-size: 0.8em;
                }
                &:nth-child(2) {
                    font-family: 'CandidaStdBold';
                    Font-size: 2em;
                    color: rgb(199,116,18);
                    font-weight: bolder;
                }
            }
        }
        &:nth-child(3) ul {
            background-color: rgb(237, 239, 239);
            li {
                &:nth-child(1) {
                    background: -webkit-linear-gradient(300deg, rgb(2,41,221),rgb(78,169,251));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: 'DancingScript-Regular';
                    font-weight: lighter;
                }
                &:nth-child(2) {
                    font-family: 'segoeprint';
                    Font-size: 2em;
                    color: rgb(8,135,251);
                    font-weight: bold;
                }
            }
        }
        &:nth-child(4) ul {
            background-color: rgb(253, 255, 253);
            li {
                &:nth-child(1) {
                    background: -webkit-linear-gradient(left, rgb(62,146,58),rgb(190,255,127));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: 'BreeshLight';
                }
                &:nth-child(2) {
                    font-family: 'segoeprint';
                    Font-size: 2em;
                    color: rgb(114,191,86);
                    font-weight: lighter;
                }
            }
        }
    }
}

@media screen and (min-width: 1420px)
{   
    .menu {
        display: flex;
        justify-content: space-around;
        a {
            width: 23%;
            ul {
                height: 70vh;
                min-height: 300px;
                font-size: 1.3vw;
            }
        }
    }
}
@media screen and (min-width: 1024px) and (max-width: 1419px) {
    .menu {
        display: grid;
        grid-template-columns: 35% 35%;
        grid-column-gap: 5%;
        justify-content: center;
        a {
            ul {
                height: 70vh;
                font-size: 2vw;
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 1023px) 
{
    .menu {
        display: grid;
        grid-template-columns: 45vw 45vw;
        grid-column-gap: 3%;
        justify-content: center;
        a {
            ul {
                height: 50vh;
                font-size: 3vw;
                min-height: 400px;
            }
        }
    }
}



@media screen and (max-width: 599px)
{
    .menu {
        display: block;
        a {
            ul {
                height: 70vh;
                font-size: 5.5vw;
            }
        }
    }
}
