main > .next {
    p {
        width: 30%;
        margin: 0px auto 80px auto;
        text-align: center;
        font-size: 1.3em;
        color: $text-color;
        background-color: $background-color;
        padding: 7px 0;
    }
}