.menu-prev {
    &--menu1 {
        background: $background-menu1-color;
        color: rgb(61,19,25);
        padding: 30px 50px;
        section {
            margin-bottom: 25px;
            font-family: segoeprint;
            font-size: 0.8em;
        }
    }
    &__header--m1 {
        img {
            width: 10%;
            margin: auto;
            height: auto;
        }
        h2 {
            font-family: 'Dear Joe 6';
            margin: 0 0 10px 0;
            font-size: 1.5em;
            font-weight: bold;
        }
    }
    &__head-section {
        &--m1 {
            img {
                width: 35%;
                height: 8px;
                top: 15px;
                @media screen and (max-width: 500px) {
                    width: 25%;
                }
            }
            h3 {
                font-family: segoeprint;
                font-size: 1.35em;
                &:hover + div{
                    background-color: rgb(61,19,25);
                    height: 3px;
                    border:2px solid re;
                }
            }
        } 
        &--a1 {
            transform: scale(0.2,0.5);
           
        }
    }
    &__content--m1 { 
        width: 100%;
        tr {
            td {
                padding: 4px 0;
                &:nth-child(even) {
                    font-weight: bold; 
                }
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: center;
        font-family: 'Dear Joe 6';
        font-weight: bold;
        font-size: 1.2em;
        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            position: relative;
            top: 15px;
        }
    }
}
