.menu-prev {
    &--menu4 {
        background-color: $background-menu4-color;
        padding: 4vh 1vw 10vh 1vw;
        section {
            margin-bottom: 30px;
            font-family: segoeprint;
            font-size: 0.73em;
            color: $text-menu4-color;
        }
    }
    &__header--m4 {
        h2 {
            background: -webkit-linear-gradient(left, $title-menu4-degrColors);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'BreeshLight';
            font-size: 1.8em;
            margin-bottom: 5vh;
            font-size: 3em;
            @media screen and (max-width: 500px) {
                font-size: 2em;
            }
        }
    }
    &__head-section {
        &--m4 {
            margin-bottom: 15px;
            img {
                width: 35%;
                height: 10px;
                position: relative;
                top: 10px;
                @media screen and (max-width: 500px) {
                    width: 25%;
                }
            }
            h3 {
                font-weight: unset;
                &:hover + div{
                    background-color: $line-menu4-color;    
                }
            }
        }
        &--a4 {
            transform: scale(0.2,0.5);
            height: 5px;
        }
    }
    &__content--m4 { 
        width: 83%;
        margin: auto;
        tr {
            td {
                padding: 6px 0;    
                &:nth-child(even) {
                    font-size: 1.2em;
                    & li:nth-child(2) {
                        padding: 3px 0;
                    }
                }
            }
        }
    }
}
