.menu-prev--menu4 {
    background-color: rgb(253, 255, 253);
    padding: 6vh 1vw 10vh 1vw;
    header {
        h2 {
            background: -webkit-linear-gradient(left, rgb(62,146,58),rgb(190,255,127));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'BreeshLight';
            font-size: 1.8em;
            margin-bottom: 4vh;
            font-size: 3em;
        }
    }
    section {
        font-family: segoeprint;
        font-size: 0.73em;
        .menu-prev__heading {
            img {
                width: 35%;
                height: 10px;
                position: relative;
                top: 23px;
            }
            h3 {
                font-weight: unset;
            }
            & + div, & + ul {
                width: 83%;
                margin: auto;
            }
        }
        ul {
            &:nth-child(even) {
                position: relative;
                top: -4px;
            }
            &:nth-child(even) {
                font-size: 1.2em;
                & li:nth-child(2) {
                    padding: 3px 0;
                }
            }
            li {
                padding: 6px 0;
            }
        }
    }
}
